registry=https://registry.npmmirror.com
# 指定 npm 为默认包管理器
package-manager=npm
# 设置淘宝镜像
disturl=https://npmmirror.com/dist
chromedriver-cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver-cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs-cdnurl=https://npmmirror.com/mirrors/phantomjs
sass-binary-site=https://npmmirror.com/mirrors/node-sass
electron-mirror=https://npmmirror.com/mirrors/electron/ 